<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAnK5nZhIMgJPEqyWl8A4FQ70q5rHenGl4</string>
	<key>GCM_SENDER_ID</key>
	<string>968046755136</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.strawberry.HighWaters</string>
	<key>PROJECT_ID</key>
	<string>highwaters-943b2</string>
	<key>STORAGE_BUCKET</key>
	<string>highwaters-943b2.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:968046755136:ios:45d32a1ab46aebf2d58ea5</string>
</dict>
</plist>